<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot | Password</title>
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body class="bg-primary">
<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="col-lg-5 bg-white p-5 rounded-4 shadow">
        {% if messages %}
    		{% for message in messages %}
        		{% if message.tags == 'error' %}
            		<h4 class="text-danger text-center">{{message}}</h4>
        		{% else %}
            		<h4 class="text-primary text-center">{{message}}</h4>
       			 {% endif %}
    		{% endfor %}
		{% endif %}
      <form method="POST" class="text-center">
		  {% csrf_token %}
		  <h2 class="fw-bold mb-4">Reset Password</h2>

		  <input type="email" required name="email" placeholder="Email" class="form-control mb-3 py-2 bg-light">

		<a href="{url 'password_reset_sent'}"><button class="btn btn-primary w-100 py-2 mb-3 fw-semibold ">Reset Password</button></a>


      </form>
    </div>

</div>
</body>
</html>