<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body class="bg-primary">
<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="col-lg-5 bg-white p-5 rounded-4 shadow">

      <form method="POST" class="text-center">
		  {% csrf_token %}
		  <h2 class="fw-bold mb-4">Reset Sent</h2>
		<p  class="small text-muted">A password reset link has been sent to your email </p>
          <p class="small text-muted"> Please note that it <strong>expires in 10 minutes!</strong> </p>
      </form>
    </div>

</div>

</body>
</html>